a {
	border: 0.3rem solid #66cba9;
	padding: 2rem;
	width: 20rem;
	height: 5rem;
	display: inline-block;
	border-radius: 1rem;
	color: white;
	text-decoration: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 2rem;
}
